<html>
    <head>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                <div class="error">   
                    <h2>{{msg}}</h2>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    
        <form action='/insert' method='POST'>
            Email Address:<input type='text' name='email_address'><br><br>
            <input type='submit' value='Submit'>
        </form>
    </body>
</html>