<html>
    <head>
    </head>
    <body>
        <h1>Friends:</h1>

        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Age</th> 
                <th>Friends Since</th>
                <th></th>
            </tr>
            {% for friend in all_friends: %}
            <tr>
                <td>{{ friend['name'] }}</td>
                <td>{{ friend['age'] }}</td> 
                <td>{{ friend['friends_since'] }}</td>
            </tr>
            {% endfor %}
        </table>


        <h2>Add a friend:</h2>

        <form action='/friends' method='POST'>
            <label for="name">Name:<input type="text" name="name" id="name"></label>
            <label for="age">Age:<input type="text" name="age" id="age"></label>
            <input type="submit" value="Add">
        </form>
    </body>
</html>