<html>
    <head>
        {% load staticfiles %}
        <link rel='stylesheet' href="{% static 'courses_app/css/style.css' %}">
    </head>
    <body>
        <h2>Add a new course</h2>
        <form action='/process' method='post'>
            {% csrf_token %}
            Name:<input type='text' name='name'><br><br>
            Description:<textarea name='description' rows='8' cols='40'></textarea><br><br>
            <input type='submit' value='Add' id='add'>
        </form>

        <h2>Courses</h2>
        <table>
            <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
            {% for course in courses %}
            <tr>
                <td>{{course.name}}</td>
                <td>{{course.description}}</td>
                <td>{{course.created_at}}&nbsp{{now}}</td>
                <td><a href='courses/destroy/{{course.id}}'>{{action}}</a></td>
            </tr>
            {% endfor %}
        </table>

    </body>
</html>